{% extends "main.html" %}

{% block content %}

<div class="w3-container w3-light-grey w3-margin w3-border">

    <h2>Allgemeine Nutzungsbedinungen</h2>

    <h4>Nutzung der Webseite</h4>
    <p>Die Anmeldung sowie alle Dienste auf Roastbook(tm) sind kostenlos.</p>
    <p>Der Nutzer akzeptiert beim Registrieren, sich Beleidigungen und Demuetigungen auszusetzen.</p>
    <p>Der Nutzer kann sich durch verfassen einer Beleidigung gegen die Beleidigung gegen seine Person wehren.</p>
    <p>Der Nutzer darf sich nicht als eine andere Person bei der Registrierung ausgeben.</p>
    <h4>Regelverstoeße</h4>
    <p>Bei Regelverstoß, kann der Nutzer gemeldet werden.</p>
    <p>Dies kann zum Loeschen eines zu vulgaeren Posts fuehren.</p>
    <h4>Urheberrecht</h4>
    <p>Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem Urheberrecht.</p>
    <p>Die Vervielfaeltigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen des Urheberrechtes beduerfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers.</p>
    <p>Downloads und Kopien dieser Seite sind nur fuer den privaten, nicht kommerziellen Gebrauch gestattet.</p>
    <p>Soweit die Inhalte auf dieser Seite nicht vom Betreiber erstellt wurden, werden die Urheberrechte Dritter beachtet.</p>
    <p>Insbesondere werden Inhalte Dritter als solche gekennzeichnet.</p>
    <p>Sollten Sie trotzdem auf eine Urheberrechtsverletzung aufmerksam werden, bitten wir um einen entsprechenden Hinweis.</p>
    <p>Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Inhalte umgehend entfernen.</p>
</div>

{% endblock content %}
