{% extends "main.html" %}

{% block content %}

<div class="w3-container w3-light-grey w3-margin w3-border">

    <h2>Allgemeine Nutzungsbedinungen</h2>

    <h4>Nutzung der Webseite</h4>
    <ul>
    <li>Die Anmeldung sowie alle Dienste auf Roastbook(tm) sind kostenlos.</li>
    <li>Der Nutzer akzeptiert beim Registrieren, sich Roasts und Demütigungen auszusetzen.</li>
    <li>Der Nutzer kann sich durch verfassen eines Roasts gegen den Roast gegen seine Person wehren.</li>
    <li>Der Nutzer darf sich nicht als eine andere Person bei der Registrierung ausgeben.</li>
    <li>Der Nutzer darf weder Fremdenhass verbreiten, noch gegen Minderheiten hetzen.</br>
        (Der Letztgenannte Punkt beruht auf Grundlage des deutschen Grundgesetzes)</li>
    </ul>
    <h4>Regelverstöße</h4>
    <ul>
    <li>Bei Regelverstoß, kann der Nutzer gemeldet werden.</li>
    <li>Dies kann zum Löschen eines zu vulgären Posts führen.</li>
    <li>Falls der Post den Letzgenannten Punkt der "Nutzung der Webseite" enthält,</br> kann dies zu einer permanenten Sperrung des Accounts führen.</li>
    </ul>
    <h4>Urheberrecht</h4>
    <ul>
    <li>Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem Urheberrecht.</li>
    <li>Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen des Urheberrechtes bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers.</li>
    <li>Downloads und Kopien dieser Seite sind nur für den privaten, nicht kommerziellen Gebrauch gestattet.</li>
    <li>Soweit die Inhalte auf dieser Seite nicht vom Betreiber erstellt wurden, werden die Urheberrechte Dritter beachtet.</li>
    <li>Insbesondere werden Inhalte Dritter als solche gekennzeichnet.</li>
    <li>Sollten Sie trotzdem auf eine Urheberrechtsverletzung aufmerksam werden, bitten wir um einen entsprechenden Hinweis.</li>
    <li>Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Inhalte umgehend entfernen.</li>
    </ul>

</div>

{% endblock content %}