{% extends "main.html" %}
{% block content %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        console.log(x + " x " + y);
        if (x < 601) {
            open_tab('posts')
        }
    }, false);
</script>
<div id="vue_top_users" class="w3-container w3-quarter w3-border w3-light-grey tab ranking">
    <p class="w3-center w3-grey w3-padding">Die Besten 5</p>
    <div v-for="user in top_user" class="w3-card w3-padding w3-margin w3-green">
        <a v-bind:href="'/users/' + user.username" v-html="user.username"></a>
        <span class="w3-right" v-html="user.balance"></span>
    </div>
</div>
<div id="vue_top_posts" class="w3-container w3-half w3-border w3-light-grey tab posts">
    <p class="w3-center w3-grey w3-padding">Letzte Roasts</p>
    <div v-for="roast in post" class="w3-card w3-padding w3-margin w3-white">
        <span class="w3-left" v-html="'#' + roast.time"></span>
        <span class="w3-right">Von: <b><a :href="'/user/' + roast.from" v-html="roast.from"></a></b></span></br>
        <span class="w3-right">An: <b><a :href="'/user/' + roast.to" v-html="roast.to"></a></b></span></br>
        <p class="w3-panel w3-leftbar w3-serif w3-xlarge w3-light-grey" v-html="roast.text"></p>
        <div class="w3-container">
            <div class="w3-green w3-half" v-bind:style="{ width: roast.up_perc + '%' }"><button class="w3-button w3-green w3-left" :disabled="user_id == '' || user_id == roast.from_id" v-html="roast.upvote + '&#x1F44D;'" v-on:click="like_post(roast.id)"></button></div>
            <div class="w3-red w3-half" v-bind:style="{ width: roast.down_perc + '%' }"><button class="w3-button w3-red w3-right" :disabled="user_id == '' || user_id == roast.from_id" v-html="roast.downvote + '&#x1F44E;'" v-on:click="dislike_post(roast.id)"></button></div>
        </div>
        <a v-if="user_id==roast.from_id" v-bind:href="'/edit_post/' + roast.id">Post editieren</a>
        <a onclick="alert('Noch nicht implementiert :(')" class="w3-right">Post melden</a>
        <br>
    </div>
</div>
<div id="vue_top_roast" class="w3-container w3-quarter w3-border w3-light-grey tab ranking">
    <p class="w3-center w3-grey w3-padding">Die Schlechtesten 5</p>
    <div v-for="user in top_roast" class="w3-card w3-margin w3-padding w3-red">
        <a v-bind:href="'/users/' + user.username" v-html="user.username"></a>
        <span class="w3-right" v-html="user.balance"></span>
    </div>
</div>
<script>
    var socket = io()
    socket.on('connect', function(data){
        console.log('Socket connected!')
        socket.on('post', function(data){
            console.log(data)
            vue_top_posts.post = data
        })
        socket.on('top_user', function(data){
            console.log(data)
            vue_top_users.top_user = data
        })
        socket.on('top_roast', function(data){
            console.log(data)
            vue_top_roast.top_roast = data
        })
        socket.on('disconnect', function(data){
            console.log('Socket disconnected')
        })
    })
    var vue_top_users = new Vue({
        el: '#vue_top_users',
        data: {
            top_user:[],
            user_id: "{{ request.cookies.get('user_id') }}",
            user: "{{ request.cookies.get('user') }}"
        },
        methods: {

        }
    })
    var vue_top_roast = new Vue({
        el: '#vue_top_roast',
        data: {
            top_roast:[],
            user_id: "{{ request.cookies.get('user_id') }}",
            user: "{{ request.cookies.get('user') }}"
        },
        methods: {

        }
    })
    var vue_top_posts = new Vue({
        el: '#vue_top_posts',
        data: {
            post:[],
            user_id: "{{ request.cookies.get('user_id') }}",
            user: "{{ request.cookies.get('user') }}"
        },
        methods: {
            like_post: function(post_id){
                console.log("liked: " + post_id)
                socket.emit('upvote', {post_id:post_id, user_id:vue_top_posts.user_id})
            },
            dislike_post: function(post_id){
                console.log("disliked: " + post_id)
                socket.emit('downvote', {post_id:post_id, user_id:vue_top_posts.user_id})
            }
        }
    })
</script>
{% endblock %}
