{% extends "main.html" %}
{% block content %}
<div class="w3-container w3-third w3-light-grey w3-border">
    <script>
        function update_names(element){
            term = element.value
            options = document.getElementById("name_select")
            all_names = "{{ all_names }}".replace(/&#34;/g, '"')
            console.log(all_names)
            all_names = JSON.parse(all_names)
            options.innerHTML = ""
            for (name of all_names) {
                if (name.search(term) != -1){
                    options.innerHTML += ("<option value='" + name + "'>" + name + "</option")
                }
            }
        }
    </script>
    <h2>Profil:</h2>
    <h2 class="w3-serif w3-dark-grey w3-padding w3-text-white"> {{ user[0] }}</h2>
    <p>Balance: {{ user[2] }}</p>
    <p>Level: {{ user[3] }}</p>
    {% if request.cookies.get("user") == user[0] %}
    <form action="{{ url_for('newpost') }}" method="POST">
        <label>Roast</label>
        <input name="text" class="w3-input w3-border-0" type="text" required placeholder="Deinen Roast bitte.....">
        <label>Name</label>
        <input class="w3-input w3-border-0" type="text" onkeyup="update_names(this)" placeholder="Tippen für vorschläge">
        <select id="name_select" class="w3-select w3-border-0" name="username" required>
        </select>
        <button class="w3-button w3-green w3-right w3-margin">Roaste ihn!</button>
    </form>
    {% endif %}
</div>
<div class="w3-container w3-rest w3-light-grey w3-border">
    {% for roast in posts %}
        <div class="w3-card w3-padding w3-margin w3-white">
            <span class="w3-left">#{{ roast[0] }}</span>
            <span class="w3-right">Von: <b><a href="{{ url_for('user', username=roast[4]) }}">{{ roast[4] }}</a></b></span></br>
            <span class="w3-right">An: <b><a href="{{ url_for('user', username=roast[5]) }}">{{ roast[5] }}</a></b></span></br>
            <p class="w3-panel w3-leftbar w3-serif w3-xlarge w3-light-grey">{{ roast[1] }}</p>
            <div class="w3-container">
                <div class="w3-green w3-half" style="width:{{ roast[7] }}%">{% if request.cookies.get("user") == roast[4] or not request.cookies.get("user") %}<span class="w3-button w3-green w3-quarter w3-left">{{ roast[2] }}&#x1F44D;</span>{% else %}<a href="{{ url_for('upvote') }}?id={{ roast[0] }}&source={{ url_for('user', username=user[0]) }}" class="w3-button w3-green w3-quarter w3-left">{{ roast[2] }}&#x1F44D;</a>{% endif %}</div>
                <div class="w3-red w3-half" style="width:{{ roast[6] }}%">{% if request.cookies.get("user") == roast[4] or not request.cookies.get("user") %}<span class="w3-button w3-red w3-quarter w3-right">{{ roast[3] }}&#x1F44E;</span>{% else %}<a href="{{ url_for('downvote') }}?id={{ roast[0] }}&source={{ url_for('user', username=user[0]) }}" class="w3-button w3-red w3-quarter w3-right">{{ roast[3] }}&#x1F44E;</a>{% endif %}</div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock content %}
